.square{
    height:100px;
    width:100px;
    border:1px solid #000000;
}
#board{
    width:510px;
    display:flex;
    flex-wrap: wrap;
}


.square:nth-of-type(2n){
    background-color: red;
}
.square:nth-of-type(2n-1){
    background-color:black;
}
